
.topnav {
  font-family:  Arial, Helvetica, sans-serif;
  background-color:rgb(52, 236, 196);
  overflow: hidden;
}

.vvv{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 20px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:grey;
  color: black;
}

/* Add a color to the active/current link 
.topnav a.active {
  background-color:rgba(0, 0, 255, 0.801);
  color: white;
}*/

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}


*{
  margin:initial;
  padding: 0;
  box-sizing: border-box;
}

footer{
  text-align: center;
 
  background:mediumaquamarine;
  height: auto;
 
  font-family: "open sans" ;
  padding-top:35px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1.5rem 0;
}

.socials li{
  width: 20px;
  height: 20px;
  border-radius: 50px;

  margin: 0 13px;
}

.socials a{
  text-decoration:none ;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  width: 60px;
  height: 60px;
  border-radius: 50px;

  transition: color .4s ease;
}

.socials a:hover {
  color:royalblue;

}
.footer-bottom span:hover {
    color: red;
}

.footer-bottom{
  background:mediumaquamarine;
 
  padding:20px 0 ;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing:2px;
  text-transform: capitalize;

}

.footer-bottom span{
  text-transform: uppercase;
  font-weight: 600;
}
.acct{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.acct:hover{
  color: #000000;
}

.center {
  width: 100px;;
   height: 200px;
   border: 5px solid black ;
  }

  div.polaroid {
    width:device-width;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: left;
    padding: 10px 20px;
  }


 

/*---------------------------------------------------------*/
  
.hhh:hover{
  background-color:darkblue ;
  color:whitesmoke;
}
.skills{
  font-size: 19px;

}
/*.skills:hover{

  text-decoration: underline;
  color:darkblue;    

}*/
 
/*---------------------------------------------------------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td, th {
  border: 1px solid #9b9191;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(16, 62, 190, 0.342);
}

.table1 {
  border-collapse:separate;
  border-spacing: 10px;
}

.table2 {
  border-collapse:separate;
  border-spacing: 10px;  
}

/*---------------------------------------------------------*/

.content {
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 10px;
}

.text{
  font-size: 17px;
  max-width: 1200px;
  text-align:justify;
  font-family:  Arial, Helvetica, sans-serif;
}

@media (max-width:932px) {
  .text {
     
      top: 0;
      left: 15%;
      right: 15%;
      margin-left: 5px;
      margin-right: 5px;
    
  }  
}

/*
a:link1{
  text-decoration: none;
}
*/


a.link1:link, a.link1:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.link1:hover, a.link1:active {
  background-color: green;
  color: white;
}

/*.want{
  position:absolute; 
  left:500px;
   top:200px;
   font-size: 25px;
   background-color: powderblue;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/

/*code for blinkng */
.want {
  position:absolute; 
  left:500px;
  top:200px;
  font-size: 25px;

  color: rgb(78, 14, 14);
  text-shadow:
      0 0 7px #fff,
      0 0 10px rgb(224, 221, 221),
      0 0 21px rgb(199, 22, 22),
      0 0 42px rgb(255, 0, 0),
      0 0 82px rgb(255, 0, 0),
      0 0 92px rgb(245, 71, 94),
      0 0 102px rgb(243, 96, 96),
      0 0 151px rgb(250, 76, 76);
      animation: flicker 1s infinite alternate;
      /*color: #fff;*/
      
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px rgb(233, 228, 228),
      0 0 19px rgb(223, 83, 83),
      0 0 40px rgb(226, 30, 30),
      0 0 80px rgb(235, 25, 25),
      0 0 90px rgb(236, 32, 32),
      0 0 100px rgb(236, 33, 43),
      0 0 150px rgb(243, 47, 47);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

